#root {
  margin: 0 auto;
  --primarycolor: #2557a7;
  --primarycolortint: #e9eef6;
  --accentcolor: #fb275d;
}
.bg-light {
  background-color: #f3f2f1;
}
.bg-white {
  background-color: #ffffff;
}
/*BUTTON*/
.btn-primary {
  background-color: var(--primarycolor) !important;
}
.btn-primary-tint {
  background-color: var(--primarycolortint);
  color: var(--primarycolor);
}
.btn-light:hover {
  color: #fff !important;
  text-decoration: none;
}
.btn-outline {
  border: 1px solid var(--primarycolor);
  color: var(--primarycolor);
}
.btn-outline:hover {
  border: 1px solid var(--primarycolor);
  color: var(--primarycolor);
}
/*NAVBAR*/
@media (min-width:992px) {
  .navbar-nav .nav-link {
    position: relative;
    text-decoration: none;
  }
  .navbar-nav .nav-link.active::after,
  .navbar-nav .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 10%; 
    right: 10%; 
    height: 2px;
    background-color: var(--primarycolor);
  }
}


.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

.large-space {
  padding-top: 4rem;
}
.small-space {
  padding-top: 2rem;
}

li {
  list-style-type: none;
}

/* Hide scrollbar for joblist section */
.custom-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
  .job-card {
    border: none;
  }
}
